@model isTakipMVC3.Models.isler
@{
    ViewBag.Title = "Ata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-gradient">
            @ViewBag.birimAdı birimi için İş Atama İşlemi
        </div>
        @using (Html.BeginForm("Ata", "Yonetici", FormMethod.Post))
        {
            <div class="card-body">
                <div class="mb-5">
                    <label for="isBaslik" class="form-label">İş Başlığını Giriniz</label>
                    <input type="text" class="form-control" id="isBaslik" name="isBaslık" required />
                  
                </div>

                <div class="mb-5">
                    <label for="isAciklama" class="form-label">İş Açıklamasını Giriniz</label>
                    <!-- Fix: Change <text> to <textarea> -->
                    <textarea class="form-control" id="isAciklama" name="isAciklama" required></textarea>
                    
                </div>

                <div class="mb-5">
                    <label for="selectPer" class="form-label">Personel Seçiniz</label>
                    <select class="form-select" name="isPersonelid" id="selectPer">
                        @foreach (var personel in ViewBag.personeller)
                        {
                            <option value="@personel.personelid">@personel.personelAdSoyad</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-primary">İş Ata</button>
                </div>
            </div>
        }
    </div>
</div>
